# Streamlit
.streamlit/secrets.toml

# Python bytecode
__pycache__/
*.py[cod]

# Python virtual environments
.env
.venv
env/
venv/

# Python test / coverage
.pytest_cache/
.coverage

# Node / web
node_modules/
dist/

# OS
.DS_Store
